commands:
  01_install_yarn:
    command: npm install yarn -g
  02_symlink_yarn:
    command: ln -s "$(npm bin --global)"/yarn /usr/bin/yarn
option_settings:
  aws:elasticbeanstalk:application:environment: 
    secret_key_base: 05b5ab1119ba937eb2c8d04b8c44ce6a5f46c70e84dd8ab093d5980c4335dba5a087133acc35e769d6f0dc28ed8a6d941e314bc902fb85f1c8ac3910bb34b09b
