commands:
  01_install_yarn:
    command: npm install yarn -g
  02_symlink_yarn:
    command: ln -s -f "$(npm bin --global)"/yarn /usr/bin/yarn
  03_install_dependencies:
    command: yum install postgresql-devel
container_commands:
  01_db_migrate:
    leader_only: true
    command: "bundle exec rake db:migrate"
option_settings:
  aws:elasticbeanstalk:application:environment: 
    RAILS_SKIP_MIGRATIONS: false

